@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*clear formatting*/
*
{

  box-sizing: border-box;
  margin: 0;
  padding:0;
  text-align:center;



  
  color: #edf0f1;
  box-sizing: border-box;
  background-color: initial;

}
/* Star gif Background */
:not(.container):not(.item):not(.logo):not(.picture):not(a):not(li):not(.commands):not(.main):not(footer):not(h1):not(.Body):not(h2):not(.intro):not(.description):not(.last):not(.pic):not(html){
  background-repeat:repeat;
  background-image:url(https://thumbs.gfycat.com/RingedSpicyKodiakbear-size_restricted.gif);

}
*:not(nav):not(ul){
  overflow-y: overlay;
  overflow-x: hidden;
}

/* Remove formatting from links*/

a {
  color: inherit;
  text-decoration: none;
}





.container{
  margin:5px 20px 0px 20px;

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 7%;
  justify-content: space-between;
  align-items: center;
  padding: 7px 100px ;  
  background-color: #24252A;


  
}
.picture {

   /* transition from 150 px at top to 75 px sticky nav */
  height:auto;
  max-height: 120px;
  align-self: center; 
  order: 3;
  cursor: pointer;
  background-color: inherit;
  
  

}

.logo {
  /* logo image on top right*/

  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.55px;
  text-align: center;
  color: #edf0f1;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;

}
nav, a{
  /* Nav links*/
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 500; 
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  color: #C0C0C0






  
}



.navLinks li {

  display: inline;
  padding: 0px 20px;
  background-color: #24252A;
  

}
.navLinks li a {
  transition: all 0.4s ease 0s;
  background-color:grey;
  background-image: none;

  padding:10px;
  border-radius: 15px;


}

.navLinks a:hover { 
  color: #FFF;/* hover*/
} 

.text h1{
  margin-bottom:50px;
  transition: all 1.3s ease 0.5s ;
  font-size: 550%;
}

.text h2{
  margin-bottom:25px;
  font-size: 275%;
}

.details{ /* Key features list*/
  padding:10px 0px;

  border: double;
  width: 300px;
  margin:auto;
  list-style-type: none;
  margin-bottom: 25px;
}

body{
  margin-top: 13%;
  font-family: "Montserrat", sans-serif;
  

}
.intro{ /* First paragraph*/
  padding: 0px 15%;
  letter-spacing: 1px;
  
}

.body {
  width: 50%;
  margin:auto;
  border: 2px #fff solid;
  padding: 5px;
  border-radius: 15px;
  background: var(--grey-dark);
  box-shadow: 3px 3px 5px 0 var(--grey-dark);
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: initial;

}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 750px;

}

.commands{

  padding: 5px;
  transition: all 2s ;
  border: 2px #fff solid;
  margin-bottom: 20px;
  background: var(--grey-dark);
  cursor: pointer;
  box-shadow: 3px 3px 5px 0 var(--grey-dark);
  border-radius: 15px;
  max-height:40px;
  overflow: hidden;
  transition: max-height 2s ease 0.5s linear;


}

.commands p {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  transition: all 1.3s ease 0.3s;

}

.description {
  display: none;
  font-size: 15px;
  font-weight: 700;
  margin: auto;
  display: block;


}

img.description{
  
  max-width:25%;
  transition: max-width 1s linear;
}

img.description:hover{
  
  max-width: 75%;


}
.commands:hover{
  
  max-height: 1000px;
}


.last{
  background:initial;
}
footer{
  align-items: center;
  height: 10%;
  
  margin-top: 5%;
  background:initial;

}
footer .last{
  background:initial;
}
